.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;

}

.header_menu {
display: flex;
justify-content: center;

}

.menu {
  display: flex;
  gap: 50px;
  list-style-type:none;
  padding: 0;
  margin: 0;
  list-style: circle;

}

.menu_list {
list-style: none;
text-underline-offset: 4px;

}

.logo {
  display: flex;
  width: 148px;
height: 105px;
justify-content: center;
gap: 0px;
opacity: 0px;

}

.address {
  max-width: 240px;
  justify-self: end;
  list-style: none;
  text-underline-offset: 4px

}

.cover {
  height: 757px;
background-image: url(/images/cover.jpg);
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cover.jpg);
background-size: cover;
padding: 165px 50px 50px 50px;

}



.heading {
  display: block;
  text-transform: uppercase;
  background-size: cover;
  color: white;
  font-size: 100px;
  letter-spacing: 0.3em;
  height: 135px;
  z-index: 1;
  
}

.first_word {
  display: flex;
  justify-content: start;
  
}

.second_word {
  display: flex;
  justify-content: center;
}

.third_word {
  display: flex;
  justify-content: end;
}

.cover_description {
  position: relative;
  padding-top: 100px;
}

.cover_description_text {

  color: white;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;
  display: flex;
  justify-content: space-between;
}

.bet_button {
  
  font-size: 20px;
  background-color: transparent;
  border-color: white;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border-style: solid;


}


.lots_heading {
  padding-top: 173px;
  padding-left: 64px;
  font-size: 40px;
  font-family: "Raleway" sans-serif;
  text-transform: uppercase;

}

.lots_card_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  font-size: 20px;
  list-style-type: none;
  margin-top: 33px;

}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 46px 40px;
  color: white;
  background-color: black;
  background-position: center;
  background-size: cover;
  margin-right: 25px;

}

.card_title {
  text-transform: uppercase;

}


.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/card-lot-01.jpg);
  
}
.card_type_film2 {
  background-image: url(../images/card-lot-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/card-lot-02.jpg);
  
}
.card_type_film3 {
  background-image: url(../images/card-lot-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/card-lot-03.jpg);
  
}

.card-link {
  font-size: 20px;
  margin-top: 400px;

}

.about {
  display: flex;
}

.about_logo {
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  display: flex;
  width: 240px;
 height: 240px;
 top: 35px;
 left: 47px;
 gap: 0px;
 opacity: 0px;
 border-radius: 180px;
 margin-top: 170px;
 margin-left: 75px;
 object-fit: scale-down;

}

.main_title_text {
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 20px;
font-size: 20px;

}


.about_title {
  margin-top: 270px;
 margin-left: 75px;
 text-transform: uppercase;
 font-size: 40px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.footer_address {
  max-width: 240px;
  justify-self: start;
  list-style: none;
  text-underline-offset: 4px

}

.footer_address {
  font-size: 20px;

}

.foot_menu {
  font-size: 20px;
  list-style-type:none;

}

.footer_logo {
  display: flex;
  flex-direction: row;
  width: 48px;
  height: 48px;
  gap: 48px;

}

