.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 52px;

}

.header_menu {
  display: flex;
  justify-content: center;

}

.menu {
  font-size: 18px;
  display: flex;
  gap: 35px;
  list-style-type: circle;
  border-width: 1px;
  margin-right: 32px;
  
}

.menu_list {
  list-style: none;
  text-underline-offset: 4px;
  font-size: 18px;

}

.logo {
  display: flex;
  width: 148px;
  height: 105px;
  justify-content: center;

}

.address {
  font-size: 18px;
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  max-width: 240px;
  justify-self: end;
  list-style: none;
  text-underline-offset: 4px;
  line-height: 24.3px;
  margin-right: 32px;
  
}

.overlay:before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.6;
}

.cover {
position: relative;
min-height: 100%;
background-image: url(/images/cover.jpg);
background-size: cover;
padding: 165px 45px 20px 50px;

}

.heading {
  display: flex;
  text-transform: uppercase;
  background-size: cover;
  color: white;
  font-size: 100px;
  letter-spacing: 0.3em;
  z-index: 1;
  
}

.cover_words {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
}
.first_word {
  display: flex;
  justify-content: start;
  position: relative;
  color: white;
  padding-left: 2px;
  
}

.second_word {
  display: flex;
  justify-content: center;
  padding-left: 46px;
  letter-spacing: 30px;
  padding-top: 20px;
  padding-left: 1px;
  position: relative;
  color: white;

}

.third_word {
  display: flex;
  justify-content: end;
  padding-top: 10px;
  padding-left: 20px;
  position: relative;
  color: white;
  margin-left: 595px;
  margin-top: 5px;

}

.cover_description {
  position: relative;
  padding-top: 105px;

}

.cover_description_text {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  letter-spacing: 0.1px;
  

}

.button {
  padding: 0 5px 30px 0;
}
.bet_button {
  min-height: 51px;
  min-width: 256px;
  font-size: 22px;
  background-color: transparent;
  border-color: white;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border-style: solid;
  border-width: thin;
  

}

.lots_heading {
  padding-top: 180px;
  padding-left: 65px;
  font-size: 40px;
  font-family: "Raleway" sans-serif;
  text-transform: uppercase;

}

.lots_card_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  margin-top: 25px;
  gap: 10px;

}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 46px 40px;
  color: white;
  background-color: black;
  background-position: center;
  background-size: cover;

}

.lots_card_list_item-film {
margin-left: 27px;

}

.lots_card_list_item-book {
 margin: 0 10px 0 15px;

}

.lots_card_list_item-picture {
  margin: 0 20px 0 5px;

}

.card_title {
  position: relative;
  font-size: 22px;
  padding-top: 2px;
  text-transform: uppercase;
  text-decoration-color: white;
  line-height: 26.4px;
  text-decoration-skip-ink: none;

}

.card_text {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  padding-top: 38px;

}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  
}

.card-link {
  font-size: 20px;
  display: flex;
  padding-top: 30px;
  padding-left: 67px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;

}

.about {
  display: flex;

}

.black_circle {
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-top: 153px;
  margin-left: 73px;
  object-fit: scale-down;
  justify-content: center;
  align-items: center;

}

.about_logo {
  background-image: url(../images/logo-white.svg);
  width: 148px;
 height: 114px;

}

.main_title_text {
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 20px;
font-size: 20px;
align-items: baseline;

}

.intro_main-text {
padding-top: 80px;
font-size: 20px;
line-height: 24px;
padding-right: 100px;

}

.intro_main_text {
  font-size: 20px;
  line-height: 24px;
  padding: 5px 95px 0 0;

  }

.about_title {
  margin-top: 255px;
 margin-left: 70px;
 text-transform: uppercase;
 font-size: 40px;

}

.footer {
  display: flex;
  flex-direction: row;
  margin: 180px 220px 0 0;
  justify-content: space-between;
  padding: 0 20px 0 53px;
  
 
  
}

.footer_menu_list {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;

}

.foot_menu {
  font-size: 18px;
  list-style-type:none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 28px;

}

.social_icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 48px;
  width: 48px;
  height: 48px;

}

.youtube {
  background-image: url(../images/yt.svg);
  width: 48px;
  height: 48px;

}

.vk {
  background-image: url(../images/vk.svg);
  width: 48px;
  height: 48px;

}

.pinterest
 {
  background-image: url(../images/pinterest.svg);
  width: 48px;
  height: 48px;

}